/* Variabes */
/* Mixin's */
body {
  background: #000;
  font-family: "Chackduster", fantasy;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}

.wrappper:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  color: #fff;
  border: #fff dashed 3px;
  padding: 15px;
}

h1{
  font-family: "Chackduster", fantasy;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2.6em;
}

p {
  font-size: 1.6em;
}

.active {
  opacity: 0.5;
}
.active:hover {
  opacity: 0.5;
}


/*button for alphabet*/
button {
  border-radius: 5px;
  background: #000;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  padding: 18px 10px;
  width: 70px;
  margin: 7px;
  outline: none;
}
button:hover {
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #000;
}

/*Button for 'start' and 'play again'*/
.BigButton {
  border-radius: 5px;
  background: #000;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  padding: 18px 10px;
  width: 150px;
  margin: 12px;
}

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: dimgrey; /* Fallback color */
  opacity:0.9;
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
